subject = "[Genius] Convite para acesso administrativo!"
layout = "--"

==

<p>
    <img style="max-width: 250px; max-height: 100px;" src="{{ message.embed( 'storage/app/media/logo.png' ) }}"><br><br>
</p>
<p>
    <b>Uma conta administrativa foi criada para você!</b>
</p>
<p>
    Olá {{ name }}!
</p>
<p>
    Criamos uma conta para que você possa acessar o sistema administrativo do seu site, seguem os dados do seu acesso:<br><br>
    Link: <b>{{ link }}</b> <br>
    Login: <b>{{ login }}</b> <br>
    Senha: <b>{{ password }}</b> <br><br>
    <b>Dica:</b> crie uma senha pessoal assim que acessar pela primeira vez!
</p>